@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --primary-color: #5348c7;
  --secondary-color: #333333;
}

*,*::before,*::after{
    box-sizing:border-box;
}

:root {
  --primary-color: #5348c7;
  --secondary-color: #333333;
}